* {
  margin: 0px;
  padding: 0px;
}

img {
  border-radius: 50%;
  width: 200px;
  height: auto;
}

.container {
  min-height: 100vh;
  display: grid;
  grid-template: 90px 1fr 30px / 1fr 5fr;
}

.header {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  font-size: 2.2rem;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  background-color: #075985; /* sky 800 */
  padding-top: 10px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #38bdf8; /* sky 400 */
}

.content button {
  border-radius: 6px;
  background-color: #7dd3fc;
  padding: 6px 3px;
  font-weight: bold;

}


.menu button {
  border-radius: 8px;
  font-weight: bold;
  padding: 5px;
  font-size: 1rem;
  background-color: #7dd3fc;
  margin: 14px;
}

span.material-icons {
  font-size: 22px;
}



hr {
  width: 82%;
}

.content {
  background-color: #e0f2fe; /* sky 100 */
}

.project {
  background-color: #0ea5e9; /* sky 500 */
  border-radius: 10px;
  margin: 10px;
  padding: 8px;
  font-family: sans-serif;
}

.title-container {
  display: flex;
}

.project-buttons {
  margin-left: auto;
}

.project-title {
  font-weight: bold;
  font-size: 1.4rem;
}

.project-desc {
  font-weight: bold;
  font-size: 1.1rem;
}

.note {
  display: flex;
  align-items: center;
  width: 68%;

  border: 2px solid #0994d4;;
  border-radius: 4px;
  margin-top: 10px;
}

.note button {
  margin-left: auto;
}

.footer {
  grid-row: -2;
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #0c4a6e;
  color: rgb(1, 155, 155);
  font-family: sans-serif;
}


@media only screen and (max-width: 500px) {
  .title-container {
    flex-wrap: wrap;
  }

  .container {
    grid-template: 90px 40px 1fr 30px / 1fr;
  }

  .menu {
    grid-column: 1 / -1;
    justify-content: center;
  }

  .menu button {
    padding: 4px;
  }

  .menu-projs {
    font-size: 0px;
  }

  hr {
    width: 0px;
  }
}